# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
venv312/

# PyCharm project settings
.idea/

# PyInstaller output
build/
dist/
*.spec

# Inno Setup output
installer/output/

#test files
test/

# Temporary files
*.tmp
*.log

## REDCap exports and generated output files
#*.csv
#output/

# Windows files
Thumbs.db
Desktop.ini